rvl_alias "osc_clk" "ncoGen/clk";
RVL_ALIAS "osc_clk" "Mixer1/clk"; 
RVL_ALIAS "osc_clk" "Mixer1/clk"; 
RVL_ALIAS "osc_clk" "Mixer1/clk"; 
RVL_ALIAS "osc_clk" "Mixer1/clk"; 
RVL_ALIAS "CIC_out_clkCos" "CIC2Cos/d_clk"; 
RVL_ALIAS "CIC1_out_clkCos" "CIC1_out_clkCos"; 
RVL_ALIAS "CIC1_out_clkSin" "CIC1_out_clkSin"; 
RVL_ALIAS "osc_clk" "osc_clk"; 
RVL_ALIAS "osc_clk" "osc_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "MYLED[0]" SITE "97" ;
LOCATE COMP "MYLED[1]" SITE "98" ;
LOCATE COMP "MYLED[2]" SITE "99" ;
LOCATE COMP "MYLED[3]" SITE "100" ;
LOCATE COMP "MYLED[4]" SITE "104" ;
LOCATE COMP "MYLED[5]" SITE "105" ;
LOCATE COMP "MYLED[6]" SITE "106" ;
LOCATE COMP "MYLED[7]" SITE "107" ;
LOCATE COMP "sinGen" SITE "142" ;
LOCATE COMP "DiffOut" SITE "122" ;
IOBUF PORT "RFIn" IO_TYPE=LVDS25 HYSTERESIS=NA CLAMP=ON DIFFRESISTOR=OFF PULLMODE=NONE OPENDRAIN=OFF ;
LOCATE COMP "RFIn" SITE "133" ;
LOCATE COMP "XOut" SITE "58" ;
IOBUF PORT "XIn" PULLMODE=UP IO_TYPE=LVCMOS25 HYSTERESIS=SMALL ;
IOBUF PORT "XOut" IO_TYPE=LVCMOS25 SLEWRATE=SLOW HYSTERESIS=NA ;
LOCATE COMP "sin_out" SITE "54" ;
LOCATE COMP "PWMOut" SITE "43" ;
USE PRIMARY NET "osc_clk" ;
FREQUENCY NET "osc_clk" 80.000000 MHz ;
CLOCK_TO_OUT ALLPORTS 20.000000 ns CLKNET "osc_clk" ;
LOCATE COMP "i_Rx_Serial" SITE "73" ;
LOCATE COMP "o_Tx_Serial" SITE "74" ;
LOCATE COMP "XIn" SITE "3" ;
BLOCK JTAGPATHS ;
IOBUF PORT "MYLED[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MYLED[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_Rx_Serial" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_Tx_Serial" IO_TYPE=LVCMOS33 PULLMODE=UP ;
FREQUENCY NET "XIn_c" 8.000000 MHz ;
IOBUF PORT "DiffOut" SLEWRATE=SLOW IO_TYPE=LVCMOS25 ;
OUTPUT PORT "DiffOut" LOAD 0.000000 pF ;
